{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    <title>Bookshop</title>
    <link rel="stylesheet" href="{% static 'styles/books.css' %}">
</head>

<body>
    <section>
        <div class="create">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="inp" type="text" placeholder="Title" name="book_title">
                <input class="inp" type="text" placeholder="Subtitle" name="book_subtitle">
                <input class="inp" type="text" placeholder="Description" name="book_description">
                <input class="inp" type="text" placeholder="Price" name="book_price">
                <input class="inp" type="text" placeholder="Genre" name="book_genre">
                <input class="inp" type="text" placeholder="Author" name="book_author">
                <input class="inp" type="text" placeholder="Year" name="book_year">
                <input class="but" type="submit" value="Добавить книгу">
            </form>
        </div>
        <div class="book_container">
            {% for b in books_list %}
            <div class="book_item
            {% if b.is_favorites %}
                marked
            {% endif %}
            ">
                <h4>{{ b.title }}</h4>
                <h6>{{ b.subtitle }}</h6>
                <p>{{ b.author }}</p>
                <p>{{ b.genre }}</p>
                <p>{{ b.year }}</p>
                <p>{{ b.description }}</p>
                <p>{{ b.price }}</p>
                <p>{{ b.date }}</p>
                <div class="book_item_footer">
                    <div class="action_buttons">
                        {% if b.is_favorites %}
                        <a href="{% url 'unmark-book' b.id %}">
                            <img src="{% static './icones/w256h2561350817780stariconrt2.png' %}">
                        </a>
                        {% else %}
                        <a href="{% url 'mark-book' b.id %}">
                            <img src="{% static './icones/w512h4961380477090star.png' %}">
                        </a>
                        {% endif %}
                        <a href="{% url 'delete-book' b.id %}">
                            <img src="{% static './icones/3823-200.png' %}">
                        </a>
                        <a href="{% url 'book' b.id %}">See more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </section>
</body>

</html>