{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    <title>Bookshop</title>
    <link rel="stylesheet" href="{% static 'styles/books.css' %}">
</head>

<body>
    <section>
        <div class="create">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="inp" type="text" placeholder="Title" name="book_title">
                <input class="inp" type="text" placeholder="Subtitle" name="book_subtitle">
                <input class="inp" type="text" placeholder="Description" name="book_description">
                <input class="inp" type="text" placeholder="Price" name="book_price">
                <input class="inp" type="text" placeholder="Genre" name="book_genre">
                <input class="inp" type="text" placeholder="Author" name="book_author">
                <input class="inp" type="text" placeholder="Year" name="book_year">
                <input class="but" type="submit" value="Добавить книгу">
            </form>
        </div>
        <div class="book_container">
            {% for b in books_list %}
            <div class="book_item">
                <h4>{{ b.title }}</h4>
                <h6>{{ b.subtitle }}</h6>
                <p>{{ b.author }}</p>
                <p>{{ b.genre }}</p>
                <p>{{ b.year }}</p>
                <p>{{ b.description }}</p>
                <p>{{ b.price }}</p>
                <p>{{ b.date }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>